.k-content li.c-iwonder-guides-guide a .c-iwonder-guides-image-container img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.k-content li.c-iwonder-guides-guide:hover .c-iwonder-guides-image-container img,
.k-content li.c-iwonder-guides-guide:focus .c-iwonder-guides-image-container img {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
}